tbody {
    display:block;
    border: 10px double black;
    border-collapse: collapse;
}
table.place_table th, table.place_table td {
    padding: 20px;
}

img {
max-width:100%;
max-height:100%;
}

.score {
	text-align: right;
	color: #FE9A00;
}
.list-spend-time {
	color: #FE9A00;
	text-align: right;
	font-size: 30px;
}

.heart {
	text-align: right;
}

.container {
	width: 80%;
}

.list-add-button {
	text-align: right;
}
