.sticky
{
    position: absolute;
    right: 0;
    margin-top: 200px;
}
.divMain
{
    height: 6000px;
    background-color: red;
}
.toggleDiv
{
    width: 200px;
    height: 400px;
    float: right;
}
.toggleBtn {
    height: 135px;
    float: right;
    border: 1px solid #999999;
    background: #999999;
    color: #CECECE;
}
.toggleBtn:hover {
    background: #990000;
    border: 1px solid #990000;
}

#cal
{
    position: absolute;
    bottom: 0;
    right: 0;
}


  #gallery { float: left; width: 65%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%; cursor: move; }
 
  #order { min-height: 18em;}
  #order h4 { line-height: 16px; margin: 0 0 0.4em; }
  #order h4 .ui-icon { float: left; }
  #order .gallery h5 { display: none; }
